<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=".../css/style.css">
</head>

<body>
    <footer class="footer">
        <div class="item-container-footer">
            <h3>Servicio al Cliente</h3>
            <a href="preguntas-frecuentes.html" class="item-footer">Preguntas Frecuentes</a>
            <a href="preguntas-frecuentes.html" class="item-footer">Preguntas Frecuentes</a>
            <a href="preguntas-frecuentes.html" class="item-footer">Preguntas Frecuentes</a>
        </div>
        <div class="item-container-footer">
            <h3>Terminos y Condiciones</h3>
            <a href="terminos-y-condiciones.hmtl" class="item-footer">Terminos y Condiciones</a>
            <a href="terminos-y-condiciones.hmtl" class="item-footer">Terminos y Condiciones</a>
            <a href="terminos-y-condiciones.hmtl" class="item-footer">Terminos y Condiciones</a>
        </div>
        <div class="item-container-footer">
            <h3>Mi Cuenta</h3>
            <a href="iniciar-sesion" class="item-footer">Iniciar Sesión</a>
            <a href="registro.html" class="item-footer">Registrate</a>
        </div>
        <div class="item-container-footer">
            <h3>Contactanos</h3>
            <a href="https://www.instagram.com/" target="_blank">
                <img src="../images/iconos/instagram-logo.svg" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <img src="../images/iconos/facebook-logo.svg" alt="Facebook">
            </a>
            <a href="mailto:contacto@sonidovivo.cl" target="_blank">
                <img src="../images/iconos/correo-logo.svg" alt="Correo">
            </a>
        </div>
    </footer>
</body>
</html>